html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    /* colors */
    --primary: #FFB400;
    /* Amarillo brillante del logo y acentos */
    --secondary: #1B1B1B;
    /* Negro del fondo del menú y letrero */
    --terciary: #F5F5F5;
    /* Blanco/gris claro para textos sobre fondo oscuro */
    --back-1: #FFF6E5;
    /* Fondo cálido y acogedor para interiores */
    --back-2: #E5E5E5;
    /* Gris claro de las paredes interiores */
    --alternative: #C47B00;
    /* Naranja intenso para llamadas a la acción */
}

@media (max-width: 1023px) {

    /* Estilos para dispositivos móviles */
    .main_container,
    .widget,
    .widgetMiddle,
    .scrollAppContainer {
        height: 100%;
        width: 100%;
    }
}